<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>0303052</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdicionaFeriadoServlet</display-name>
    <servlet-name>AdicionaFeriadoServlet</servlet-name>
    <servlet-class>servlet.AdicionaFeriadoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionaFeriadoServlet</servlet-name>
    <url-pattern>/AdicionaFeriadoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditaFeriadoServlet</display-name>
    <servlet-name>EditaFeriadoServlet</servlet-name>
    <servlet-class>servlet.EditaFeriadoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditaFeriadoServlet</servlet-name>
    <url-pattern>/EditaFeriadoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluiFeriadoServlet</display-name>
    <servlet-name>ExcluiFeriadoServlet</servlet-name>
    <servlet-class>servlet.ExcluiFeriadoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluiFeriadoServlet</servlet-name>
    <url-pattern>/ExcluiFeriadoServlet</url-pattern>
  </servlet-mapping>
</web-app>